# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
Private/LV/LLAMADA EXTERNA/ControllerCall/BasicControlCall.vi
Private/LV/LLAMADA EXTERNA/ControllerCall/BasicControlCall2.vi
Private/LV/LLAMADA EXTERNA/GenericController.lvproj
Private/LV/LLAMADA EXTERNA/Test.vi
Private/LV/LLAMADA EXTERNA/Test2.vi
Private/LV/pendulo.vi
viejo.zip
